table, tr, th, td{
    border:solid 1px grey;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}


/*table
{
  border-collapse:collapse;
}
tr:nth-child(3)
{
  background-color: green;
  color:white;
}
th
{
  background-color:yellow;
  color:black;
}*/
.table tbody tr:nth-child(add){
    background-color: green;
}